.App {
  text-align: left;
  display:flex;
  min-height: 100vh;
  align-items: center;
  justify-content:end;
  color: rgb(247, 244, 244); 
  background-image: url(../background2.jpg);
  /* linear-gradient(79deg, #090909, #573053 50%, #c7a287); */
}

.auth-form-container h2 {
  font-size: 32px;
  color: white;
  margin-top: 0;
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

 
  .auth-form-container{
    padding: 60px;
    z-index: 90;
    position: relative;
    max-width: 450px;
    height: 630px;
    margin-left:50%;
    background-color: rgba(0 , 0, 0, .75);
    border-radius: 10px;
    box-sizing: border-box;
    transform: translateX(-50%);

    /* border: 1px solid rgb(15, 15, 15);
    border-radius: 10px;
    margin: 0.5rem; */
 }

 .nav {
   position: fixed;
   top: 0;
   width: 100%;
   padding: 20px;
   display: flex;
   /* box-shadow: 1px 5px 5px rgb(241, 222, 222); */
  /* align-items: center; */ 
 }
 
 /* .nav-logo {
  position: fixed;
  left: 20px;
  width:10%;
  object-fit: contain;
 } */


lebel{
  text-align: left;
  padding: 0.25rem 0;
}

input{
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button{
  border: none;
  margin-top: 10px;
  padding: 20px;
  color:#fff;
  font-weight: 800;
  background: red;
  border-radius: 10px;
  cursor: pointer;
}

.link-btn {
  /* border: none; */
  margin-top: 10px;
  padding: 10px;
  /* border-radius: 10px;
  cursor: pointer; */
  background: none;
  color: white;
  text-decoration: underline;
  /* margin-bottom: 5%; */
}

.logOut{
  margin-right: 20px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
/* .logOut:hover{
  color: #7B014C;
} */

.loginButton{
  margin-right: 20px;
  color: #fff;
  font-weight: 600;
}
.signUpButton{
  margin-left: 20px;
  margin-right: 20px;
  color: #fff;
  font-weight: 600;
}

/* .nav-menu {
  display: flex;
} */

li {
  list-style: none;
  padding: 1px 15px;
}





